#map {
    width: 100%;
    height: 600px;
}

#timedate{
    position: absolute;
    z-index: 999;
    left: 20px;
    bottom: 10px;
    background-color: black;
}

#clear_point{
    position: absolute;
    z-index: 999;
    left: 110px;
    bottom: 10px;
    background-color: black;
}